body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size:18px;
    line-height:34px;
    background: url("../images/webb.png");
    
}
*{
    box-sizing: border-box;
}

#mainhead{
    position:fixed;
    z-index:99;
    width:100%;
    margin: 0;
    margin-top:-10px;
    margin-left: -5px;
    overflow:auto;
    background:#ffffff;
    color: #ffffff;
    border-bottom:2px solid #cccccc;
    text-align: center;

}

.username{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-weight:700;
    width: 400px;
    height:90px;
    float: left;
    text-align:center;
    text-decoration:none;
    margin-left:350px;
}

nav{
    position:static;
    float:right;
    margin-top:25px;
    margin-right:25px;
    color:#777777;
}   

nav a{
    display:inline-block;
    padding-left:15px;
    margin-left: 10px;
    line-height:18px;
    text-decoration:none;
    border-left:1px solid #efefef;
}

a:visited{
    text-decoration:none;
    color:#777777;
}

#mainwrapper{
    padding-top:130px;
    margin-left:350px;
    padding-bottom:100px;
}
.about-me{
    max-width:850px;
    clear:both;
    width:100%;
    padding:20px;
    margin:0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;

}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:left;
    color:#4aaaa5;
    border-bottom: 1px solid #777777;
    padding: 10px;
    max-width:850px;
}   


p{
    margin-bottom:20px;
}

.footer{
    padding:30px 0;
    clear:both;
    position:relative;
    font-size:12px;
    color:#ffffff;
    color:#cccccc;
    text-align:center;
    background: #666666;
    border-top:8px solid #4aaaa5;
    margin-top:-100px;
}

#contact{
    max-width:850px;
    clear:both;
    width:100%;
    padding:20px;
    margin:0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;

}
form{
    margin:auto;
    font-weight:200px;
}
label{
    font-weight:200px;
}

input[type=text],
input[type=email],
textarea{
    width:100%;
   
}   

input[type=text],
input[type=email],
textarea{
    height:35px;
    padding:0 10px;
    font-size:16px;
    color:#777777;
    border:1px solid #dddddd;
}

textarea{
    height:200px;
}

input[type=submit] {
	padding: 10px 30px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	background: #4aaaa5;
	border: 0 none;
}
.portfolio{
    max-width:850px;
    clear:both;
    width:100%;
    padding:20px;
    margin:0 0 40px;
    overflow:auto;
    background: #ffffff;
    border: 1px solid #dddddd;

}

.image{
    position:relative;
    float:left;
    width:280px;
    margin:20px 0 25px;
    overflow:auto;
}

.image:nth-child(even){
    margin-right:40px;
}
.image img{
    width: 100%;
    border: 0 none;
    height:200px;
    
}

.image h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    position:absolute;
    bottom:20px;
    width:300px;
    padding:15px;
    margin-bottom:0;
    font-weight:200;
    color:#ffffff;
    text-align:center;
    border-bottom:0;
    background:#4aaaa5;
}

@media screen and (max-width:980px){
    #mainwrapper{
        max-width:100%;
        margin-left:50px;
        margin-right:200px;
    }
    #mainhead{
        max-width:100%;
        float: left;

    }
    .username{
        width:390px;
        margin-left:25px;
        margin-right:0px;
    }
    nav{
        position:fixed;
        margin-top:0px;
        margin-left:500px;
        margin-top:25px;
    }
}

@media screen and (max-width:768px){
    #mainwrapper{
        max-width:100%;
        margin-right:50px;

    }
    #mainhead{
        max-width:100%;

    }
    .username{
        margin-top:0;
        padding:.60em;
        text-align:center;
    }
    nav{
        position:fixed;
        margin-top:0px;
        margin-left:420px;
        margin-top:25px;
    }
}

@media screen and (max-width:640px){
    #mainwrapper{
        max-width:100%;
        margin-left:50px;
        margin-right:50px;
    }
    #mainhead{
        max-width:100%;
        float:left;

    }
    .username{
        position:static;
        width:100%;
        margin-left:0px;
    }

    nav{
        width:100%;
        position:relative;
        text-align:center;
        display:inline-block;
        margin-left:20px;
    }
    
}
